<!doctype html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>订单详情</title>
		<link rel="stylesheet" href="http://web.shop.com:8020/webcode/resources/css/bootstrap.min.css" type="text/css" />
		<script src="http://web.shop.com:8020/webcode/resources/js/jquery-1.11.3.min.js" type="text/javascript"></script>
		<script src="http://web.shop.com:8020/webcode/resources/js/bootstrap.min.js" type="text/javascript"></script>
		<script type="text/javascript" src="http://web.shop.com:8020/webcode/resources/js/jquery-heima-0.0.1.js" ></script>
		<script type="text/javascript" src="http://web.shop.com:8020/webcode/resources/js/heima-include.js" ></script>
		<!-- 引入自定义css文件 style.css -->
		<style>
		</style>
	</head>
	<script>
		$(function(){
			$("#submit").click(function(){
				var param = $("#orderForm").serialize();
				location.href = HM.CTX+"/order?md=topay&"+param;
			})
			$("#orderid").val(HM.getParameter("orderid"));
			HM.ajax("/order?md=getOrderByOid","&orderid="+HM.getParameter("orderid"),function(vo){
				if(vo.code == 1){
					var status = vo.data.state == 0 ? "未付款":"已付款" ;
					var data = vo.data;
					var body = "";
					body += "<tr class=\"warning\">\n" +
        "<th colspan=\"2\">\n" +
        "\t订单编号:7766771234\n" +
        "</th>\n" +
        "<th colspan=\"1\">订单状态:"+status+" </th>\n" +
        "<th colspan=\"2\">下单时间:2018-02-03 11:25:22 </th>\n" +
        "\t\t\t\t\t\t\t\t\t</tr>\n" +
        "\t\t\t\t\t\t\t\t\t<tr class=\"warning\">\n" +
        "<th>图片</th>\n" +
        "<th>商品</th>\n" +
        "<th>价格</th>\n" +
        "<th>数量</th>\n" +
        "<th>小计</th>\n" +
        "\t\t\t\t\t\t\t\t\t</tr>\n";
					for(item of data.orderItem){
					
        body +=  "\t\t\t\t\t\t\t\t\t<tr class=\"active\">\n" +
        "<td width=\"60\" width=\"40%\">\n" +
        "\t<input type=\"hidden\" name=\"id\" value=\"22\">\n" +
        "\t<img src=\"http://web.shop.com:8020/webcode/"+item.goods.pimage+"\" width=\"70\" height=\"60\">\n" +
        "</td>\n" +
        "<td width=\"30%\">\n" +
        "\t<a target=\"_blank\"> "+item.goods.pname+"</a>\n" +
        "</td>\n" +
        "<td width=\"20%\">\n" +
        "\t￥ "+item.goods.shop_price+"n" +
        "</td>\n" +
        "<td width=\"10%\">\n" +
        "\t"+item.count+"\n" +
        "</td>\n" +
        "<td width=\"15%\">\n" +
        "\t<span class=\"subtotal\">￥"+item.subtotal+"</span>\n" +
        "</td>\n" +
        "</tr>";
					}
					$("#total").html(data.total)
					$("#tbody").html(body);
				}else{
					alert("购物车为空")
				}
			})
		})
	</script>

	<body>
			<div class="container-fluid">
				<!--头部-->
				<div id="header" style="min-height: 130px;"></div>	
				<div class="container">
					<div class="row">
						<div style="margin:0 auto;margin-top:10px;width:950px;">
							<strong>订单详情</strong>
							<table class="table table-bordered">
								<tbody id="tbody">
									
								</tbody>
							</table>
						</div>
		
						<div style="text-align:right;margin-right:120px;">
							商品金额: <strong style="color:#ff6600;">￥<span id="total"></span>元</strong>
						</div>
		
					</div>
		
					<div class="">
						<hr/>
						<form class="form-horizontal" id="orderForm"  style="margin-top:5px;margin-left:150px;">
							<div class="form-group">
								<label for="username" class="col-sm-1 control-label">地址</label>
								<input type="hidden" name="orderid" id="orderid" value="" />
								<div class="col-sm-5">
									<input type="text" class="form-control" name="address" placeholder="请输入收货地址">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-1 control-label">收货人</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" name="name"  placeholder="请输收货人">
								</div>
							</div>
							<div class="form-group">
								<label for="confirmpwd" class="col-sm-1 control-label">电话</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" name="telephone"   placeholder="请输入联系方式">
								</div>
							</div>
						</form>
		
						<hr/>
		
						<div style="margin-top:5px;margin-left:150px;">
 				 
							<hr/>
							<p style="text-align:right;margin-right:100px;">
								<a href="javascript:;" id="submit">
									<img src="http://web.shop.com:8020/webcode/resources/img/finalbutton.gif" width="204" height="51" border="0" />
								</a>
							</p>
							<hr/>
		
						</div>
					</div>
		
				</div>
				<!--尾部-->
				<div id="footer"  style="min-height: 203px;"></div>
		</div>
	</body>

</html>